#game-board {
	width: 600px;
	height: 600px;
	border: 1px solid black;
	margin: 0 auto;
	position: relative;
}

.snake {
	width: 20px;
	height: 20px;
	background-color: green;
	position: absolute;
}

.food {
	width: 20px;
	height: 20px;
	background-color: red;
	position: absolute;
}
